html,
body {
	height: 100%;
	font-family: open_sanscondensed;
	font-size: 20px;
	min-width: 1230px;
}

section {
	overflow: hidden;
}

h1 {
	font-size: 400%;
	text-transform: uppercase;
}

h2 {
	font-size: 150%;
	text-transform: uppercase;
}

h3 {
	font-weight: bold;
}

a {
	color: white;
}

.bold {
	font-weight: bold;
}

h2 .bold {
	font-size: 200%;
}

#presentation,
#infos-complementaires {
	background: #ffffff url(../img/bg_site.jpg) no-repeat left top;
	background-size: cover;
	color: #ffffff;
	position: relative;
}

/** PRESENTATION **/
    #presentation,
    #presentation-wrapper {
    	position: relative;
    	height: 100%;
    	min-height: 700px;
    }

	#presentation-wrapper {
		background: transparent url(../img/bg-wrapper-presentation.png) no-repeat left top;
		background-size: cover;
		overflow: hidden;
	}

	#presentation-header {
		margin: 120px 0 0 120px;
		max-width: 600px;
	}

	#presentation-texte {
		margin: 0 0 0 120px;
		max-width: 60%;
	}

	#presentation-partenariat {
		position: absolute;
		right: 70px;
		bottom: 70px;
	}

	#presentation-partenariat p {
		color: #9c9e9f;
		font-size: 125%;
		text-transform: uppercase;
		line-height: 90%;
		max-width: 70px;
	}

	#presentation-partenariat img {
		width: 153px;
	}

	#presentation-acces-questionnaire {
		position: absolute;
		right: 0;
		left: 0;
		bottom: 70px;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 150%;
		text-align: center;
	}

/** QUESTIONNAIRE **/
	#questionnaire {
		padding: 120px;
		position: relative;
	}

	.question p {
		font-weight: bold;
		font-size: 200%;
	}

	#questionnaire input[type='radio'] {
		height: 30px;
		width: 30px;
	}

	#questionnaire label {
		font-size: 200%;
		margin: 0 50px 0 0;
	}

	#questionnaire input[type='submit'],
	.question-suivante {
		font-size: 200%;
		position: absolute;
		bottom: 0;
		left: 415px;
		border: none;
		color: white;
		font-weight: bold;
		text-transform: uppercase;
		padding: 0 5px 0 60px;
		background: black url(../img/triangle-black.jpg) no-repeat left top;
	}

/** LE SAVIEZ VOUS **/
	#le-saviez-vous {
		height: 375px;
	}

	#le-saviez-vous-header {
		height: 100%;
		width: 423px;
		background: transparent url(../img/bg_le_saviez_vous.png) no-repeat left top;
		background-size: cover;
		padding: 50px 0 0 40px;
		float: left;
	}

	#le-saviez-vous-header h2 .bold {
		font-size: 100%;
	}

	#le-saviez-vous-header img {
		width: 130px;
	}

	.le-saviez-vous-texte {
		height: 100%;
		min-width: 937px;
		margin-left: 423px;
		background-color: rgb(255, 255, 255);
		background-color: rgba(255, 255, 255, 0.8);
		padding: 100px 0 80px;
	}

	.le-saviez-vous-texte p {
		color: black;
		font-size: 110%;
		width: 70%;
	}

	.le-saviez-vous-texte .bold {
		color: red;
		font-size: 150%;
	}

/** UNE QUESTION **/
	#une-question {
		width: 70%;
		background-color: rgb(0, 0, 0);
		background-color: rgba(0, 0, 0, 0.8);
		padding: 50px 120px 130px;
		float: left;

	}

	#une-question h2 {
		font-size: 250%;
		font-weight: bold;
	}

	#une-question label {
		display: block;
		font-weight: normal;
		margin: 15px 0 0 0;
	}

	#une-question-coordonnees {
		float: left;
		margin: 0 40px 0 0;
	}

	#une-question-textarea {
		overflow: hidden;
	}

	#une-question-textarea textarea {
		height: 265px;
		width: 100%;
	}

	#une-question-submit {
		clear: both;
		font-size: 150%;
		font-weight: bold;
		width: 130px;
		line-height: 38px;
		text-transform: uppercase;
		background-color: #de4443;
		border: none;
		float: right;
		margin: 25px 0 0 0;
	}

/** REFERENCES **/
	#references {
		background-color: rgb(255, 255, 255);
		background-color: rgba(255, 255, 255, 0.8);
		color: black;
		height: 100%;
		width: 30%;
		overflow: hidden;
		position: absolute;
		right: 0;
		padding: 60px;
	}

	#references img {
		height: 100px;
	}

	#references p {
		font-size: 90%;
	}

/** FONTS **/
	@font-face {
	    font-family: 'open_sanscondensed';
	    src: url('../fonts/OpenSans-CondLight-webfont.eot');
	    src: url('../fonts/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/OpenSans-CondLight-webfont.woff') format('woff'),
	         url('../fonts/OpenSans-CondLight-webfont.ttf') format('truetype'),
	         url('../fonts/OpenSans-CondLight-webfont.svg#open_sanscondensed_light') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'open_sanscondensed';
	    src: url('../fonts/OpenSans-CondBold-webfont.eot');
	    src: url('../fonts/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/OpenSans-CondBold-webfont.woff') format('woff'),
	         url('../fonts/OpenSans-CondBold-webfont.ttf') format('truetype'),
	         url('../fonts/OpenSans-CondBold-webfont.svg#open_sans_condensedbold') format('svg');
	    font-weight: bold;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'open_sanscondensed';
	    src: url('../fonts/OpenSans-CondLightItalic-webfont.eot');
	    src: url('../fonts/OpenSans-CondLightItalic-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/OpenSans-CondLightItalic-webfont.woff') format('woff'),
	         url('../fonts/OpenSans-CondLightItalic-webfont.ttf') format('truetype'),
	         url('../fonts/OpenSans-CondLightItalic-webfont.svg#open_sansCnLtIt') format('svg');
	    font-weight: normal;
	    font-style: italic;
	}

