html,
body {
	height: 100%;
	font-family: open_sanscondensed;
	font-size: 20px;
	min-width: 1250px;
}

section {
	overflow: hidden;
	position: relative;
	min-height: 100%;
}

h1 {
	font-size: 400%;
	line-height: 90%;
	text-transform: uppercase;
}

h2 {
	font-size: 150%;
	text-transform: uppercase;
}

h3 {
	font-weight: bold;
}

a {
	color: white;
}

a:hover {
	color: #dadada;
	text-decoration: none;
}

.bold {
	font-weight: bold;
}

h2 .bold {
	font-size: 200%;
}

.green {
	color: green;
}

.red {
	color: red;
}

#presentation,
#infos-complementaires,
#le-saviez-vous {
	background: #ffffff url(../img/bg_site.jpg) no-repeat left top;
	background-size: cover;
	color: #ffffff;
	position: relative;
}

/** PRESENTATION **/
    #presentation,
    #presentation-wrapper {
    	position: relative;
    	height: 100%;
    	min-height: 700px;
    }

	#presentation-wrapper {
		background: transparent url(../img/bg-wrapper-presentation.png) no-repeat left top;
		background-size: cover;
		overflow: hidden;
	}

	#presentation-header {
		margin: 120px 0 0 120px;
		max-width: 600px;
	}

	#presentation-texte {
		margin: 0 0 0 120px;
		max-width: 60%;
	}

	#presentation-partenariat {
		position: absolute;
		right: 70px;
		bottom: 70px;
	}

	#presentation-partenariat p {
		color: black;
		text-transform: uppercase;
		font-weight: bold;
	}

	#presentation-partenariat img {
		width: 145px;
	}

	#presentation-acces-questionnaire {
		position: absolute;
		right: 0;
		left: 0;
		bottom: 70px;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 150%;
		text-align: center;
	}

	#header-logo-dfd {
		margin: 0 0 20px 0;
	}

/** QUESTIONNAIRE **/
	#questionnaire {
		min-height: 800px;
	}

	.questions-counter {
		text-align: center;
		font-size: 300%;
		color: white;
		line-height: 80%;
		font-weight: bold;
		margin-bottom: 30px;
	}

	.question-number {
		background-color: #e67372;
		display: inline-block;
		padding: 5px;
	}

	.questions-count {
		background-color: #e5e5e5;
		display: inline-block;
		padding: 5px;
	}

	#questions {
		padding: 20px 80px 80px;
		position: relative;
	}

	#questions {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}

	p.rappel-question {
		text-align: center;
		font-weight: bold;
		font-size: 200%;
	}

	.question-form {
		text-align: center;
	}

	#questionnaire input[type='radio'] {
		height: 25px;
		width: 25px;
		margin: 0  15px 0 30px;
	}

	#questionnaire label {
		font-size: 200%;
		margin: 0 30px 0 0;
	}

	#questionnaire input[type='submit'] {
		font-size: 150%;
		border: none;
		color: white;
		font-weight: bold;
		text-transform: uppercase;
		background-color: #de4443;
		display: block;
		margin: 40px auto;
		line-height: 40px;
	}

	.reponse {
		text-align: center;
	}

	.reponse p {
		font-weight: normal;
		font-size: 110%;
	}

	p.reponse-utilisateur {
		font-size: 150%;
		font-weight: bold;
	}

	.question-suivante,
	.question-precedente {
		font-size: 150%;
		color: #de4443;
		font-weight: bold;
		text-transform: uppercase;
		position: absolute;
		bottom: 300px;
		border: none;
		background-color: transparent;
		height: 75px;
		line-height: 100%;
	}

	.question-suivante.disabled,
	.question-precedente.disabled {
		color: #f7d0d0;
	}

	.question-suivante {
		right: 15%;
		padding-right: 80px;
		background: transparent url(../img/fleche-droite.png) no-repeat right center;
		text-align: right;
	}

	.question-precedente {
		left: 15%;
		padding-left: 80px;
		background: transparent url(../img/fleche-gauche.png) no-repeat left center;
		text-align: left;
	}

	/*.question-suivante.disabled {
		background: transparent url(../img/fleche-droite-claire.png) no-repeat right center;
	}*/

	.question-suivante.disabled {
		background: #de4443 none;
		color: white;
		width: auto;
		text-align: center;
		padding: 5px;
		height: auto;
		font-size: 150%;
	}

	.question-precedente.disabled {
		background: transparent url(../img/fleche-gauche-claire.png) no-repeat left center;
	}

	.reponse p.rappel-question {
		font-weight: bold;
	}

/** LE SAVIEZ VOUS **/
	#le-saviez-vous {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}

	#le-saviez-vous,
	.le-saviez-vous-texte {
		min-height: 260px;
		max-height: 260px;
	}

	#le-saviez-vous-header {
		height: 100%;
		width: 423px;
		background: transparent url(../img/bg_le_saviez_vous.png) no-repeat left top;
		background-size: cover;
		padding: 50px 0 0 40px;

		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
	}

	#le-saviez-vous-header img {
		width: 130px;
	}

	.le-saviez-vous-texte {
		height: 100%;
		min-width: 937px;
		margin-left: 423px;
		background: transparent url(../img/bg-white.png) repeat;
		padding: 30px 0;
	}

	.le-saviez-vous-texte h2 {
		color: red;
		font-size: 150%;
	}

	.le-saviez-vous-texte h2 .bold {
		font-size: 100%;
	}

	.le-saviez-vous-texte p {
		color: black;
		font-size: 110%;
		width: 70%;
	}

/** JEU CONCOURS **/
	#jeu-concours {
		text-align: center;
		padding: 60px;
	}

	#jeu-concours h2 {
		margin-top: 50px;
		color: #de4443;
		font-weight: bold;
		text-transform: inherit;
	}

	#jeu-concours form {
		width: 375px;
		margin: 20px auto 30px;
		text-align: right;
		overflow: hidden;
	}

	#jeu-concours label {
		font-weight: normal;
		margin: 15px 0 0 0;
		width: 120px;
		font-size: 100%;
		text-align: left;
	}

	#jeu-concours input {
		color: black;
		width: 250px;
		border: 1px solid #de4443;
	}

	#jeu-concours a {
		color: #de4443;
		text-decoration: underline;
		display: block;
		margin: 20px 0;
		font-weight: bold;
	}

	#jeu-concours input[type="submit"] {
		float: right;
		width: auto;
		margin: auto;
	}

	#jeu-concours-sub {
		border-top: 1px solid #de4443;
		width: 80%;
		margin: 30px auto;
		clear: both;
		text-align: left;
		font-size: 70%;
		padding: 10px 0;
	}

	#jeu-concours-sub a {
		display: inline;
	}

/** UNE QUESTION **/
	#infos-complementaires {
		min-height: 700px;
	}

	#une-question {
		height: 100%;
		width: 65%;
		overflow: hidden;
		position: absolute;
		left: 0;
		padding: 50px 30px 130px 120px;
		background: transparent url(../img/bg-black.png) repeat;

	}

	#une-question h2 {
		font-size: 250%;
		font-weight: bold;
	}

	#une-question label {
		display: block;
		font-weight: normal;
		margin: 15px 0 0 0;
	}

	#une-question input {
		color: black;
		width: 250px;
	}

	#une-question-coordonnees {
		float: left;
		margin: 0 40px 0 0;
	}

	#une-question-textarea {
		overflow: hidden;
	}

	#une-question-textarea textarea {
		height: 265px;
		width: 100%;
		color: black;
	}

	#une-question #une-question-submit {
		clear: both;
		font-size: 150%;
		font-weight: bold;
		width: 130px;
		line-height: 38px;
		text-transform: uppercase;
		background-color: #de4443;
		border: none;
		float: right;
		margin: 25px 0 0 0;
		color: white;
	}

/** REFERENCES **/
	#references {
		color: white;
		height: 100%;
		width: 35%;
		overflow: hidden;
		position: absolute;
		right: 0;
		padding: 60px;
		background: transparent url(../img/bg-black.png) repeat;
		line-height: 110%;
	}

	#references img {
		height: 80px;
		margin: 10px 0;
	}

	#references p {
		font-size: 90%;
	}

	.element-reference {
		border-left: 1px solid white;
		margin-bottom: 40px;
		padding-left: 20px;
	}

/** FONTS **/
	@font-face {
	    font-family: 'open_sanscondensed';
	    src: url('../fonts/OpenSans-CondLight-webfont.eot');
	    src: url('../fonts/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/OpenSans-CondLight-webfont.woff') format('woff'),
	         url('../fonts/OpenSans-CondLight-webfont.ttf') format('truetype'),
	         url('../fonts/OpenSans-CondLight-webfont.svg#open_sanscondensed_light') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'open_sanscondensed';
	    src: url('../fonts/OpenSans-CondBold-webfont.eot');
	    src: url('../fonts/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/OpenSans-CondBold-webfont.woff') format('woff'),
	         url('../fonts/OpenSans-CondBold-webfont.ttf') format('truetype'),
	         url('../fonts/OpenSans-CondBold-webfont.svg#open_sans_condensedbold') format('svg');
	    font-weight: bold;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'open_sanscondensed';
	    src: url('../fonts/OpenSans-CondLightItalic-webfont.eot');
	    src: url('../fonts/OpenSans-CondLightItalic-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/OpenSans-CondLightItalic-webfont.woff') format('woff'),
	         url('../fonts/OpenSans-CondLightItalic-webfont.ttf') format('truetype'),
	         url('../fonts/OpenSans-CondLightItalic-webfont.svg#open_sansCnLtIt') format('svg');
	    font-weight: normal;
	    font-style: italic;
	}

